.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 80vh; /* set the height of the parent div */
  padding-left: 5%;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-size: 100px;
}

.contact-icon:hover {
  color: forestgreen;
}