.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 80vh; /* set the height of the parent div */
  padding-left: 5%;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-size: 100px;
}

.contact-icon:hover {
  color: forestgreen;
}

.box-container {
  width: 700px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the box container horizontally */
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box-container p {
  margin: 0 0 12px;
}
