name: Move new issues to TODO

on:
  issues:
    types: [opened]

jobs:
  move-to-todo:
    runs-on: ubuntu-latest
    steps:
      - uses: alex-page/github-project-automation-plus@v0.8.3
        with:
          project: "Problem sheet generation"
          column: "Todo"
          repo-token: ${{ secrets.MY_GITHUB_TOKEN }}