name: Black Linter

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install Black
        run: pip install black
      - name: Run Black
        run: black --check .
  docker:
    needs: lint
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Create .env file in API
      run: |
        cat << EOF > ./API/.env
        open_api_key = 1234
        problem_sheet_api_key = 1234
        EOF

    - name: Create .env file in root
      run: |
        cat << EOF > ./.env
        ECR_PATH="hello"
        AWS_ACCOUNT_ID=""
        AWS_REGION=""
        AWS_ACCESS_KEY_ID=""
        AWS_SECRET_ACCESS_KEY=""
        EOF

    - name: Start containers
      run: docker-compose -f "docker-compose.yml" up -d --build

    - name: Stop containers
      if: always()
      run: docker-compose -f "docker-compose.yml" down